* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.validateError {
  display: none;
  background-color: brown;
  padding: 5px;
  color: white;
  margin-bottom: 13px;
  border-radius: 3px;
}

.top-bar {
  background-color: #43609c;
  height: 82px;
}

.facebook-header{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.facebook-header img {
  margin-top: 17px;
  width: 170px;
  height: auto;
  cursor: pointer;
}

.facebook-login {
  display: flex;
  align-items: baseline;
  margin: 13px 0 3px 0;
  width: 40%;
}

.facebook-login label {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}

.facebook-login input {
  width: 90%;
  border: 0.5px solid black;
  padding: 3px;
}

.facebook-login button {
  padding: 5px;
  cursor: pointer;
  background-color: #4267b2;
  border: 0.5px solid #29487d;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.facebook-login p {
  line-height: 1;
}

.facebook-login a {
  text-decoration: none;
  font-size: 13px;
  color: #9cb4d8;
  font-weight: normal;
}

.facebook-login a:hover {
  text-decoration: underline;
}

.facebook-login button:hover {
  background-color: #29487d;
}

.form-control {
  align-self: flex-end;
}

.centralize-button {
  align-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.main-content {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  background: linear-gradient(white, #D3D8E8);
  background-image: linear-gradient(white, rgb(211, 216, 232));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.centralize, hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.left-content {
  width: 700px;
}

.left-content img {
  margin-bottom: 50px;
}

#facebook-slogan {
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
}

.right-content {
  padding-top: 20px;
  width: 500px;
}

.right-content h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

.right-content input {
  padding: 10px 8px;
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-bottom: 13px;
  font-size: 18px;
}

.quick-easy {
  padding-bottom: 20px;
}

.nameLastname {
  display: flex;
  justify-content: space-between;
}

.nameLastname input {
  width: 44.5%;
}

#label-birthdate, #label-gender {
  color: #90949c;
  font-size: 16px;
  font-weight: bold;
}

#label-birthdate {
  margin-bottom: 4px;
}

#label-gender {
  margin-bottom: 10px;
}

.createAccount {
  display: flex;
  flex-direction: column;
}

.radios {
  display: flex;
}

#radio-gender {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#radio-gender input {
  margin-right: 5px;
}

#radio-gender p {
  color: #1d2129;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.text-politic {
  margin: 15px 0;
  color: #777;
  font-size: 11px;
  width: 316px;
}

.text-politic a, .text-create a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

.text-politic a:hover, .text-create a:hover, footer a:hover {
  text-decoration: underline;
}

#customized-container input {
  width: 95%;
}

#facebook-register {
  margin: 10px 0;
  font-size: 19px;
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: 0 1px 1px #a4e388;
  border: 1px solid #2c5115;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  width: 50%;
  padding: 7px 20px;
  text-align: center;
}

#facebook-register:hover {
  background: linear-gradient(#79bc64, #578843);
}

.text-create {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-top: 15px;
}

footer {
  margin-top: 15px;
}

footer p {
  color: #737373;
  font-size: 12px;
  line-height: 2;
  margin: 10px 0;
}

footer a {
  margin-left: 5px;
  text-decoration: none;
  color: #385898;
  cursor: pointer;
  text-align: start;
}

#new-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}